.vscode/**
.vscode-test/**
src/**
test/**
node_modules/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
.vscode-test.mjs
!out/**/*.js
.venv/**
.claude/**
*.vsix
